{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}GiftinTech Django Blog{% endblock %}</title>

    <!-- Global CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <header class="site-header">
      <nav class="container">
        <a href="/">Home</a>
        {% if user.is_authenticated %}
        <a href="{% url 'profile' %}">Profile</a>
        <a href="{% url 'logout' %}">Logout</a>
        {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'register' %}">Register</a>
        {% endif %}
      </nav>
    </header>

    <main class="container">{% block content %}{% endblock %}</main>

    <!-- Global JS -->
    <script defer src="{% static 'js/main.js' %}"></script>
  </body>
</html>
